@using sirmoto.Models.DeviceViewModels;
@{
    ViewData["Title"] = "Dashboard Sirmoto-EZ";
}
@model DeviceViewModel


<div class="container body-content">
    <div class="row text-lg-left">
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <h2>@ViewData["Title"]</h2>
                <h4>Use a local account to log in.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                
                <div class="form-group"  class="input-group-prepend">
                    <label asp-for="Device"></label>
                    <input asp-for="Device" class="form-control" />
                    <span asp-validation-for="Device" class="text-danger"></span>
                    <label asp-for="DescriptionJSON"></label>
                    <input asp-for="DescriptionJSON" class="form-control" />
                    <span asp-validation-for="DescriptionJSON" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OperationModeJSON"></label>
                    <select asp-for="OperationModeJSON" class="form-control">
                        <option value="Manual">Manual</option>
                        <option value="Weather">Based on Weather</option>
                        <option value="Time">Time</option>
                    </select>
                    <span asp-validation-for="OperationModeJSON" class="text-danger"></span>
                </div>

                <div class="form-inline" action="/action_page.php">
                    <div class="form-group">
                        <div  class="col-xs-2">
                            <label asp-for="LandsizeXJSON"></label>
                            <input asp-for="LandsizeXJSON" class="form-control" />
                            <span asp-validation-for="LandsizeXJSON" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="form-group">
                        <div  class="col-xs-2">
                            <label asp-for="LandsizeYJSON"></label>
                            <input asp-for="LandsizeYJSON" class="form-control" />
                            <span asp-validation-for="LandsizeYJSON" class="text-danger"></span>
                        </div>
                    </div>
                </div> 
                <br>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Save</button>
                </div>
            </form>
    </div>
</div>