@{
    ViewData["Title"] = "Dashboard Usaha anda";
}
<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="row text-center text-lg-left">
            <div class="col-lg-2 col-md-6 col-xs-6">
                <h3>Perjanan diterima</h3>
                <h1>10</h1>
                
            </div>
            <div class="col-lg-2 col-md-6 col-xs-6">
                <h3>Pegawai menggangur</h3>
                <h1>1</h1>
                
            </div>
            <div class="col-lg-2 col-md-6 col-xs-6">
                <h3>Layanan terkahkir</h3>
                <h2>Memotong</h2>
                
            </div>
            <div class="col-lg-2 col-md-6 col-xs-6">
                <h3>Layanan paling populer</h3>
                <h2>Memotong</h2>
                
            </div>
            <div class="col-lg-2 col-md-6 col-xs-6">
                <h3>Total Income</h3>
                <h2>Rp 50000</h2>
                
            </div>
            <div class="col-lg-2 col-md-6 col-xs-6 ">
                <h3>Total Income E-Money/Kredit</h3>
                <h2>Rp 50000</h2>
                
                
            </div>
            
        </div>
</div>